* {
    font-size: 62.5%;
    }


/* index */
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background:linear-gradient(to left top, white, rgb(8, 107, 165) );
    background-image: url(../images/MERMOZ\ FINANCEnew2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}


.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    color: white;
    font-size: 5rem;
    list-style: none;
    margin-right: 10rem;
    position: relative;
    top: -4rem;
    }

.navbar li{
    background:rgb(3, 66, 102);
    background-color: rgba(1,1,1,0.2);
    margin: 1rem 1rem;
    padding: 1rem 4rem;
    border: 1px solid white;
    border-radius: 60rem;

}


.solutions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background:linear-gradient(to left top, white, rgb(8, 107, 165) );
    background-repeat: no-repeat;
    background-position: center;
    height:80vh;
    width: 100%;
}

.solutions__title{
    font-size: 3rem;
    border-bottom: 2px solid white;
    align-items: center;
    padding-bottom: 2rem;
    margin: 2rem;
}

.solutions__capital{
    display: flex;
    justify-content: center;

}
.capital{
    display: flex;
    flex-direction: column;
  
}
.capital-type{
 display: flex;
 flex-direction: column;
 text-align: center;
 padding: 2rem;
 width: 33%;
 border: 2px solid white;
 margin: 4rem;
}
.type{
    font-size: 3rem;
    text-transform: uppercase;
    border-bottom: 2px solid white;
   padding: 2rem;
    }

p{
    font-size: 2rem;
    margin: 2rem;
}

h1{
     text-align: center;
     font-size: 12rem;
     text-transform: uppercase;
     position: relative;
     bottom: 15%;
     left: 30rem;
     color: white;
}

h2{
    text-align: center;
    text-transform: uppercase;
    font-size:4rem;
    position: relative;
    bottom: 32%;
    left: 25rem;
    color: white;
}

h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}


.logo{
 z-index: 0;
 font-size: 10rem;
 margin: 2rem;
 position: relative;
 top: -70vh;
 left: 27vw;
  }


footer{
    background: purple;
    width: 100%;
    height: 20vh;
}

/* souscripteurs et participations */

.selection{
    display: flex;
    align-items: center;
    margin: 1rem;

   }

.selection-filter{
    font-size: 2rem;
}

.selection-invest{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    font-size: 2.5rem;
 
}

.subscriber, .participations{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 32%;
    background: rgb(182, 178, 178);
    list-style: none;
    border: 2px solid black;
    font-size: 2.5rem;

}

.selection-participation{
    display: flex;
    justify-content: space-between;
    margin: 0.2rem;
    padding: 0.5rem;
}

.checkbox{
    padding: 1rem;
}